@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  font-family: "Poppins", sans-serif;
  background-color: #000000;
  
    background-image: url('img/0D4736C2-B15D-40F1-9F7F-C0606E58C267.png');
    background-size: contain; /* para que la imagen de fondo cubra todo el cuerpo */
    background-position: center; /* para centrar la imagen de fondo */
  
  
}

.logo{
  display: flex;
  justify-content: center;
  margin: 5rem 0 2rem 0;
  
}
.logo img{
  width: 150px;
}

.main-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.main-title p {
  margin: 0; 
  font-size: 35px; /* Reducimos el tamaño de fuente */
  letter-spacing: -1px; /* Ajustamos el espaciado entre letras */
}

.main-title p:first-child {
  color: rgb(255, 255, 255);
}

.main-title p:last-child {
  color: #ff751f; 
}

.whatsapp{
  margin: 3rem 0 1rem 0;
  display: flex;
  justify-content: center;
}

.button {
  padding: 0.6em 1.3em;
  display: flex;
  gap: 1rem;
  font-family: "Bebas Neue", sans-serif;
  font-size: 28px; /* Reducimos el tamaño de fuente */
  background-color: #000000;
  border-radius: 10px;
  border: 1px solid rgb(255, 89, 23);
  color: rgb(255, 255, 255);
  box-shadow: 0 0 25px rgb(255, 141, 35),
              0 0 25px rgb(255, 136, 38),
              0 0 5px rgb(255, 100, 22) inset;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 30px rgb(245, 214, 37),
              0 0 30px rgb(245, 196, 37),
              0 0 10px rgb(249, 220, 35) inset;
}

.button img{
  width: 30px;
}


.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 121, 25);
}

.info p{
  font-size: 18px; /* Reducimos el tamaño de fuente */
  color: white;
}

.info h3{
  font-size: 28px; /* Reducimos el tamaño de fuente */
  text-align: center;
}

.monto label {
  color: #ffffff; /* o blanco (#ffffff) */
  font-size: 18px;
}

/* Fuerza a mantener ese color incluso cuando hay error */
.monto label:invalid {
  color: #ff751f;
}
